[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "==19.10b0"
pytest = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
kaggle_environments = "*"

[requires]
python_version = "3.7"
