[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
black = "==19.10b0"
pytest = "*"
numpy = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
kaggle_environments = "==0.2.1"

[requires]
python_version = "3.7"
